<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="bebop1" />
    <arg name="namespace2" default="bebop2" />
	
    <!--arg name="ip" default="192.168.42.1" /-->
    <arg name="ip" default="10.202.0.1" />
	<arg name="ip2" default="10.202.1.1" />
	
    <arg name="drone_type" default="bebop1" /> <!-- available drone types: bebop1, bebop2 -->
    <arg name="drone_type2" default="bebop1" /> <!-- available drone types: bebop1, bebop2 -->

	
    <arg name="config_file" default="$(find bebop_driver)/config/defaults.yaml" />
    <arg name="config_file2" default="$(find bebop_driver)/config/defaults.yaml" />


    <arg name="camera_info_url" default="package://bebop_driver/data/$(arg drone_type)_camera_calib.yaml" />
    <arg name="camera_info_url2" default="package://bebop_driver/data/$(arg drone_type2)_camera_calib.yaml" />



    <group ns="$(arg namespace)">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="$(arg camera_info_url)" />
            <param name="bebop_ip" value="$(arg ip)" />
            <rosparam command="load" file="$(arg config_file)" />
        </node>
        <include file="$(find bebop_description)/launch/description.launch" />
    </group>

	<group ns="$(arg namespace2)">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
            <param name="camera_info_url" value="$(arg camera_info_url2)" />
            <param name="bebop_ip" value="$(arg ip2)" />
            <rosparam command="load" file="$(arg config_file2)" />
        </node>
        <include file="$(find bebop_description)/launch/description.launch" />
    </group>

</launch>
